<template>
<div class="hero">
  <h3 class="vue-title"><i class="fa fa-university" style="padding: 3px"></i>{{messagetitle}}</h3>
  <div id="list-tree">
    <v-client-table :columns="columns" :data="trees" :options="options">
    </v-client-table>
  </div>
</div>
</template>

<script>
import TreeService from '@/services/treeservice'
import Vue from 'vue'
import VueTables from 'vue-tables-2'

Vue.use(VueTables.ClientTable, {compileTemplates: true, filterByColumn: true})

export default {
  name: 'Trees',
  data () {
    return {
      messagetitle: ' Trees List ',
      trees: [],
      errors: [],
      columns: ['treeName', 'treeType', 'treeDescription', 'coinsToBuy'],
      options: {
        headings: {
          treeName: 'Tree Name',
          treeType: 'Species',
          treeDescription: 'Description',
          coinsToBuy: 'Price'
        }
      }
    }
  },
  created () {
    this.loadTrees()
  },
  methods: {
    loadTrees: function () {
      TreeService.fetchTrees()
        .then(response => {
          this.trees = response.data
          console.log(this.trees)
        })
        .catch(error => {
          this.errors.push(error)
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  .vue-title {
    margin-top: 30px;
    text-align: center;
    font-size: 45pt;
    margin-bottom: 10px;
  }
  #list-tree {
    width: 60%;
    margin: 0 auto;
  }
</style>
